[submodule "2024秋_物联网应用基础_课程作业"]
	path = 2024秋_物联网应用基础_课程作业
	url = https://github.com/MinmusLin/Fundamentals_of_IoT_Applications_Course_Assignments
[submodule "2024秋_软件工程_课程作业"]
	path = 2024秋_软件工程_课程作业
	url = https://github.com/MinmusLin/Software_Engineering_Course_Assignments
[submodule "2024秋_计算机视觉_课程作业"]
	path = 2024秋_计算机视觉_课程作业
	url = https://github.com/MinmusLin/Computer_Vision_Course_Assignments
[submodule "2024秋_嵌入式系统导论_课程作业"]
	path = 2024秋_嵌入式系统导论_课程作业
	url = https://github.com/MinmusLin/Introduction_to_Embedded_Systems_Course_Assignments
[submodule "2024秋_移动应用开发_课程作业"]
	path = 2024秋_移动应用开发_课程作业
	url = https://github.com/MinmusLin/Mobile_Application_Development_Course_Assignments
[submodule "2024秋_汇编语言_课程作业"]
	path = 2024秋_汇编语言_课程作业
	url = https://github.com/MinmusLin/Assembly_Language_Course_Assignments
[submodule "2024秋_语音识别_课程作业"]
	path = 2024秋_语音识别_课程作业
	url = https://github.com/MinmusLin/Speech_Recognition_Course_Assignments
